#at-btn {
    background: #a179ca !important;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.tm-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left,#28a5f5,#1e87f0);
}
.tm-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-primary>:not([class*=uk-card-media]) .uk-navbar-nav>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-secondary>:not([class*=uk-card-media]) .uk-navbar-nav>li.uk-active>a, .uk-light .uk-navbar-nav>li.uk-active>a, .uk-overlay-primary .uk-navbar-nav>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-tile-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a {
    color: #fff;
}
.tm-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li>a, .uk-card-primary>:not([class*=uk-card-media]) .uk-navbar-nav>li>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li>a, .uk-card-secondary>:not([class*=uk-card-media]) .uk-navbar-nav>li>a, .uk-light .uk-navbar-nav>li>a, .uk-overlay-primary .uk-navbar-nav>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a {
    color: rgba(255,255,255,.8);
}
.tm-navbar-container:not(.uk-navbar-transparent) .tm-button-default, .uk-card-primary.uk-card-body .tm-button-default, .uk-card-primary>:not([class*=uk-card-media]) .tm-button-default, .uk-card-secondary.uk-card-body .tm-button-default, .uk-card-secondary>:not([class*=uk-card-media]) .tm-button-default, .uk-light .tm-button-default, .uk-overlay-primary .tm-button-default, .uk-section-primary:not(.uk-preserve-color) .tm-button-default, .uk-section-secondary:not(.uk-preserve-color) .tm-button-default, .uk-tile-primary:not(.uk-preserve-color) .tm-button-default, .uk-tile-secondary:not(.uk-preserve-color) .tm-button-default {
    color: rgba(255,255,255,.8);
    border-color: rgba(255,255,255,.6);
}
.tm-navbar-container:not(.uk-navbar-transparent) .uk-logo, .uk-card-primary.uk-card-body .uk-logo, .uk-card-primary>:not([class*=uk-card-media]) .uk-logo, .uk-card-secondary.uk-card-body .uk-logo, .uk-card-secondary>:not([class*=uk-card-media]) .uk-logo, .uk-light .uk-logo, .uk-overlay-primary .uk-logo, .uk-section-primary:not(.uk-preserve-color) .uk-logo, .uk-section-secondary:not(.uk-preserve-color) .uk-logo, .uk-tile-primary:not(.uk-preserve-color) .uk-logo, .uk-tile-secondary:not(.uk-preserve-color) .uk-logo {
    color: #fff;
}