<template name="myaccount">
    {{> _header}}
    <div class="uk-container uk-margin-top">
        <div class="uk-margin uk-card uk-card-default uk-card-body">
            {{#if $eq accountstate "signUp"}}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="at-form" style="margin:0px 0px 0px;">
                        <input type="radio" id="shop" name="urole" value="shop">
                        <label for="shop">Shop</label>
                        &nbsp;
                        &nbsp;
                        <input type="radio" id="customer" name="urole" value="customer">
                        <label for="customer">customer</label>
                    </div>
                </div>
            </div>
            {{/if}}
            {{> yield}}
        </div>
    </div>
    <div class="clearfix"></div>
    {{> _footer}}
</template>